{% liquid 
  assign test = "this is a test"
  assign something = false
  assing _test = test | split: ''

  for t in _test 
    echo t | split: '' | join: ","
  endfor
%}

<div class="section--page mx-auto {{ section.settings.container }} {{ section.settings.content_vertical_padding }} {{ section.settings.content_horizontal_padding }} {{ section.settings.content_vertical_padding_mobile }} {{ section.settings.content_horizontal_padding_mobile }}">
  <div class="{% if section.settings.page_show_title != blank or section.settings.page_show_content != blank %}lg:py-8 py-4{% endif %}">
    <h1 class="type--headline type-page{% if section.settings.page_show_title == blank %} sr-only{% endif %} {{ section.settings.text_align }} {{ section.settings.text_align_mobile }}">
      {{page.title}}
    </h1>
    <div class="rte {% if section.settings.page_show_content == blank %}hidden{% endif %} {{ section.settings.content_text_align }} {{ section.settings.content_text_align_mobile }}">
      {{page.content}}
    </div>
    {% if section.settings.additional_scripts != blank -%}
      {{ section.settings.additional_scripts }}
    {%- endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "header",
      "content": "Display Settings"
    },
    {
      "type": "checkbox",
      "id": "page_show_title",
      "default": true,
      "label": "Show Title"
    },
    {
      "type": "checkbox",
      "id": "page_show_content",
      "default": true,
      "label": "Show Content"
    },
    {
      "type": "header",
      "content": "Width Settings"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container",
      "options": [
        {
          "value": "lg:w-1/2",
          "label": "Small Container"
        },
        {
          "value": "container page-width",
          "label": "Container"
        },
        {
          "value": "container container--narrow",
          "label": "Container Narrow"
        },
        {
          "value": "w-full",
          "label": "Full width"
        }
      ],
      "default": "container page-width"
    },
    {
      "type": "header",
      "content": "Layout Settings (Desktop)"
    },
    {
      "type": "select",
      "id": "content_vertical_padding",
      "label": "Content Vertical Padding",
      "options": [
        {
          "value": "lg:py-0",
          "label": "None"
        },
        {
          "value": "lg:py-1",
          "label": ".25rem"
        },
        {
          "value": "lg:py-2",
          "label": ".5rem"
        },
        {
          "value": "lg:py-4",
          "label": "1rem"
        },
        {
          "value": "lg:py-8",
          "label": "2rem"
        },
        {
          "value": "lg:py-16",
          "label": "4rem"
        },
        {
          "value": "lg:py-32",
          "label": "8rem"
        },
        {
          "value": "lg:py-64",
          "label": "16rem"
        }
      ],
      "default": "lg:py-0"
    },
    {
      "type": "select",
      "id": "content_horizontal_padding",
      "label": "Content Horizontal Padding",
      "options": [
        {
          "value": "lg:px-0",
          "label": "None"
        },
        {
          "value": "lg:px-1",
          "label": ".25rem"
        },
        {
          "value": "lg:px-2",
          "label": ".5rem"
        },
        {
          "value": "lg:px-4",
          "label": "1rem"
        },
        {
          "value": "lg:px-8",
          "label": "2rem"
        },
        {
          "value": "lg:px-16",
          "label": "4rem"
        },
        {
          "value": "lg:px-32",
          "label": "8rem"
        },
        {
          "value": "lg:px-64",
          "label": "16rem"
        }
      ],
      "default": "lg:px-0"
    },
    {
      "type": "header",
      "content": "Layout Settings (Mobile)"
    },
    {
      "type": "select",
      "id": "content_vertical_padding_mobile",
      "label": "Content Vertical Padding",
      "options": [
        {
          "value": "py-0",
          "label": "None"
        },
        {
          "value": "py-1",
          "label": ".25rem"
        },
        {
          "value": "py-2",
          "label": ".5rem"
        },
        {
          "value": "py-4",
          "label": "1rem"
        },
        {
          "value": "py-8",
          "label": "2rem"
        },
        {
          "value": "py-16",
          "label": "4rem"
        },
        {
          "value": "py-32",
          "label": "8rem"
        },
        {
          "value": "py-64",
          "label": "16rem"
        }
      ],
      "default": "py-0"
    },
    {
      "type": "select",
      "id": "content_horizontal_padding_mobile",
      "label": "Content Horizontal Padding",
      "options": [
        {
          "value": "px-0",
          "label": "None"
        },
        {
          "value": "px-1",
          "label": ".25rem"
        },
        {
          "value": "px-2",
          "label": ".5rem"
        },
        {
          "value": "px-4",
          "label": "1rem"
        },
        {
          "value": "px-8",
          "label": "2rem"
        },
        {
          "value": "px-16",
          "label": "4rem"
        },
        {
          "value": "px-32",
          "label": "8rem"
        },
        {
          "value": "px-64",
          "label": "16rem"
        }
      ],
      "default": "px-0"
    },
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Alignment (Desktop)",
      "options": [
        {
          "value": "lg:text-left",
          "label": "Left"
        },
        {
          "value": "lg:text-center",
          "label": "Center"
        },
        {
          "value": "lg:text-right",
          "label": "Right"
        }
      ],
      "default": "lg:text-center"
    },
    {
      "type": "select",
      "id": "text_align_mobile",
      "label": "Text Alignment (Mobile)",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "select",
      "id": "content_text_align",
      "label": "Text Alignment (Desktop)",
      "options": [
        {
          "value": "lg:text-left",
          "label": "Left"
        },
        {
          "value": "lg:text-center",
          "label": "Center"
        },
        {
          "value": "lg:text-right",
          "label": "Right"
        }
      ],
      "default": "lg:text-left"
    },
    {
      "type": "select",
      "id": "content_text_align_mobile",
      "label": "Text Alignment (Mobile)",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "header",
      "content": "Additional Scripts"
    },
    {
      "type": "html",
      "id": "additional_scripts",
      "label": "Additional Scripts"
    }
  ]
}
{% endschema %}
